@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body {
  font-family: 'Permanent Marker', cursive;
  background-color: #00b0c8;
  color: #000;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  background-color: #00a1b7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 3em;
  text-align: center;
}
.search {
  text-decoration: none;
  letter-spacing: 3px;
  color: #000;
  white-space: nowrap;
}
.search:hover {
  color: #fff;
}
.loading {
  text-align: center;
  margin: 2em auto;
  color: #fef979;
  letter-spacing: 3px;
  text-shadow: 4px 4px 20px white;
}
.header {
  text-align: center;
  background-color: #000;
  margin: -1.45em 0 1em 0;
  padding: 1em;
}
character-search-app {
  margin: 1em 3em;
}
